<mat-card>
    <mat-card-header>
        <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field >
            <input matInput placeholder="Nombre" [(ngModel)]="name">
        </mat-form-field>
        <div *ngIf="show">
            <p>
                {{name}}
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [color]="colorBoton" (click)="muestra(!show)">{{boton}}</button>
    </mat-card-actions>
</mat-card>